{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
    {% if watching %}
        <form action="{% url 'listing' item_id=item.id %}" method='post'>
        {% csrf_token %}
        <input type="submit" name="RemoveWatch" value="Remove From Watchlist">
        </form>
        
    {% else %}
        <form action="{% url 'listing' item_id=item.id %}" method='post'>
        {% csrf_token %}
        <input type="submit" name="AddWatch" value="Add To Watchlist">
        </form>
    {% endif %}
            {% else %}
                Not signed in.
            {% endif %}
    <h1>{{item.name}}</h1>
    <h3> Posted by: {{item.poster.username}} </h3>
    <div>
     <img src= {{item.picture}}> 
    </div>
{% if active %}
<p> Auction ends at: {{item.endDate}} </p>
<h2> Highest Bid: ${{max_bid.price}} </h2>
{% if user.is_authenticated %}
{% if user.id == item.poster.id %}
<form action="{% url 'listing' item_id=item.id %}" method='post'>
{% csrf_token %}
    <input type="submit" name="Submit" value="Close Auction">
</form>
{% else %}
{% if error %}
<div class="alert alert-warning" role="alert">
  Please enter a bid higher than the current highest bid
</div>
{% endif %}
<form action="{% url 'listing' item_id=item.id %}" method='post'>
{% csrf_token %}
<label for="Bid"> Place Bid: </label>
    <input type="number" step="0.01" name="Bid">
    <input type="submit" name="Submit" value="Place Bid">
</form>
{% endif %}
{% else %}
<h2> Please log in to bid </h2>
{% endif %}
{% else %}
 <h3> The Auction has ended </h3>
{% if user.id == max_bid.user.id %}
 <h2> Congratulations, you have won </h2>
{% endif %}
{% endif %} 
<h3> Comments </h3>
<ul>
{% for stuff in comments %}
<li>
<h4> {{stuff.user.username}} </h4>
 <p>  <span style="display:inline-block; width: 15px;"></span>  {{stuff.body}}</p>
</li>
{% endfor %}
</ul>
{% if user.is_authenticated %}
<form action="{% url 'listing' item_id=item.id %}" method='post'>
{% csrf_token %}
<label for="Bid"> Comment: </label>
    <input type="text" name="note">
    <input type="submit" name="Submit" value="Post Comment">
</form>
{% else %}
<h2> Please log in to comment </h2>
{% endif %}
{% endblock %}
